#root {
  width: 100%;
  height: 100vh;   /* full screen height */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5d2c0;
  color:  #55473b;
  padding-left:15px;
  padding-right:15px;

  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.actions-row {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 50px 0 30px 0;
  flex-wrap: wrap;
}

.action-btn {
  padding: 20px 40px;
  width: 300px;
  height:200px;
  background-color: #e5d2c0;
  color: #55473b;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.action-btn:hover {
  background-color: #e4c9b0;
}

