.editor-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
}

/* Top Toolbar */
.editor-toolbar {
  display: flex;
  gap: 10px;
  background: #2d2d2d;
  color: white;
  padding: 10px;
}

.editor-page-scroll-container {
  flex: 1;
  background: #e6e6e6;
  padding: 15px;
  border-left: 1px solid #ccc;
}


.editor-tool-view-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  
}
.editor-main {
  display: flex;
  flex: 1; 
  overflow-y: auto;
  height: 100%;
}



/*PDF VIEWER CSS*/
.pdf-viewer {
  flex: 3;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pdf-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.TextBox {
  position: absolute;
  top: 50px;
  left: 50px;
  
  color: black;
  background: transparent;
  padding: 4px 8px;
  min-width: 100px;
  min-height: 20px;
  cursor: text;
  z-index: 10;
  user-select: text;

}

.TextBox:hover {
  border: 1px solid black;
  border-radius: 5px;
}




